<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="../assets/css/about_css.css">
</head>
<body>
  <img src="../assets/images/quiz_quest_logo_black.png" alt="QUIZ QUEST LOGO" id="logo">
  <h1>The Story Behind Quiz Quest</h1>
  <div class="backstory">
    <p>Quiz Quest was born out of an evident lack of educational and collaborative pass time among youths.</p>
    <p>Our aim is to make quizzes fun again!</p>
  </div>


</body>
</html>